mat-card {
  margin: 10px;
  padding-bottom: 10px;
  width: 70%;
  cursor: pointer;
  /* background-color: #faf0e6; */
  /* background-color: #e6f5fa; */
  background-color: #f1d6bb;
}

mat-card:hover {
  font-weight: bold;
}

img {
  height: 20px;
  width: 20px;
}
