.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.grid-item-left {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.grid-item-center {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.grid-item-right {
  display: flex;
  /* align-items: center;
  text-align: right; */
  padding-left: 5px;
  padding-right: 5px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}

mat-tree {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  height: 60vh;
  width: 45vw;
  background-color: #faf0e6;
}

pdf-viewer {
  width: 100%;
}
