.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}

mat-tree {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
  height: 60vh;
  width: 45vw;
  background-color: #faf0e6;
}

pdf-viewer {
  width: 100%;
}
